<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
        .container{
            display: flex;
            flex-direction: column;
        }
    </style> -->
</head>
<body>
   <div class="container" style="border: 2px solid cornflowerblue;"> 
        <div class="row" style="border: 2px solid rgb(237, 100, 100);"> 
            <p>first div</p>
        </div>
        <div class="row" style="border: 2px solid rgb(14, 1, 1);"> 
            <p>second div</p>
        </div>
   </div>
   
</body>
</html>